
<div class="home">
<div id="menubar"></div>
<div>
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><div ng-controller="category"><a href="#/home/category">Category</a></div></li>
        <li><div ng-controller="category"><a href="#/home/subcategory">SubCategory</a></div></li>
        <li><a href="Product.html">Product</a></li>
        <li><a href="HeroBaner.html">Hero Baner</a></li>
       
    </ul>
</div>

<div id = "logout">
    <a class ="logout1" href="#/">
    <img src="res/images/logout2.png"/>
    </a>
    <a href="#/">Logout</a>
</div>
<h1 align="left"> Home Page</h1>
</div>
