<style>
    body{
        background-color :E0E0EB;
    }
    h2{

        margin: 0px;
        color :white;
        margin-top: -14px;
        text-align: left;
        padding-top: 10px;
        height :35px;
        background-color:darkslategrey;
    }
   
    table.tables{
        font-family: verdana;
        font-size:15px;
        align : center;
        color:#333333;
        text-align : center;
        border-width: 2px;
        border-color: black;
        border-collapse: collapse;
        width : 75%;
        margin : 10px;
        margin-left:auto; 
        margin-right:auto;
    }
    table.tables th {
        border-width: 1px;
        padding: 8px;
        color:white;
        border-style: solid;
        border-color: black;
        background-color: darkslategrey;
        }
    table.tables td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: black;
        }
    .oddrowcolor{
            background-color:white;
        }
    .evenrowcolor{
            background-color:gainsboro  ;
    }
    #category select{
           position :relative;
           left:-400px;
           margin : 20px;
           width: 200px;
           font-size: 16px;
           background-color: aliceblue;
           border: 2;
           border-radius: 4px;
           height: 28px;
    }
  
   #category input[type="text"] {
        position : relative;
        right : 145px;
        width: 200px;
        height : 28px;
        margin : 20px;
        border-radius: 5px;
        float : right;
    }
    #add button{
        
        width: 200px;
        height : 28px;
        position :relative;
        left : 560px;                
        border-radius: 5px;
        margin: 10px;
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
    }
    #myDialog button{
        width: 100px;
        height : 25px;
        margin:10px;
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
    }
    #myDialog div input[type="text"]{
        width:340px;
        border-radius: 5px;
        height : 30px;
    }
    
    #tablecolor tr td input[type="image"]{
        width: 25px;
        height : 25px;
        align :center;
        padding-left: 10px;
        border-radius: 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
    }
    </style>
<div class="subcategory">
    <div id="menubar"></div>
<div>
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/home/category">Category</a></li>
        <li><a href="#/home/subcategory">SubCategory</a></li>
        <li><a href="Product.html">Product</a></li>
        <li><a href="HeroBaner.html">Hero Baner</a></li>
        
    </ul>
</div>
<h2>List of all Sub Category</h2>
    <div id="category">
   <select>
        <option value="electrical">Electrical</option>
        <option value="electronic">Electronic</option>
        <option value="mechanical">Mechanical</option>
    </select>
        <input type="text" name="search" placeholder="Search" >
    </div>
<div id="add">
    <button onclick="myFunction()">Add New Category</button>
</div>
<table class="tables" id="tablecolor">
    <tr>
        <th>Sr.No. </th>
        <th>Category</th>
        <th>SubCategory</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Electronic</td>
        <td>Mobile</td>
        <td><input type="image" src="res/images/edit3.png" >
             <input type="image" src="res/images/delete2.png"></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Electronic</td>
        <td>Laptop</td>
        <td><input type="image" src="res/images/edit3.png" >
             <input type="image" src="res/images/delete2.png"></td>
    </tr>
</table>
</div>