<!DOCTYPE html>
<html ng-app="app">

<body>
    
    <title>IdeaLyte</title>
    <link rel="stylesheet" href="css/login.css" type="text/css" />
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <div ng-view>
    <div ng-if="true" ng-include="'home.html'">
       
    </div>
    <!-- <div ng-if="menubar==true" ng-include="'views/home.html'"/> -->
    </div>
    
  
    
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<!-- <script src="app/HomeController.js"></script> -->
<script src="app/app_router.js"></script>
<script src="app/AuthController.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>